# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
myenv/
venv/
.venv/
env/
ENV/
pip-wheel-metadata/

# Environment variables
.env

# IDE / Editor specific
.vscode/
.idea/
*.swp
*.swo

# Windows
Thumbs.db